<script>
	import '../styles/tailwind.css';
</script>

<header class="h-18 flex justify-center fixed w-full z-10 bg-black">
	<h1 class="text-4xl p-4 tracking-widest max-sm:text-3xl max-xsm:text-2xl">Coline Roquette</h1>
	<div
		class="absolute top-1/2 right-0 transform -translate-y-1/2 mr-20 max-md:mr-10 max-sm:mr-4 max-xsm:mr-2"
	>
		<a href="https://www.instagram.com/corqt/" target="_blank" rel="noreferrer"
			><img src="images/instagram.svg" alt="instagram" /></a
		>
	</div>
</header>
<main class="mx-[10%] pt-20">
	<slot />
</main>
