<script lang="ts">
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	import 'photoswipe/style.css';

	import Masonry from 'masonry-layout';
	import { onMount } from 'svelte';
	import { Image, imagesList } from '../models/image';
	import { lazyLoad } from './lazyload';

	let gallery: HTMLElement;
	const images: Image[] = imagesList;

	onMount(async () => {
		let lightbox = new PhotoSwipeLightbox({
			gallery: '#gallery',
			children: 'a',
			zoom: false,
			showHideAnimationType: 'zoom',
			pswpModule: () => import('photoswipe')
		});
		lightbox.init();
	});

	function imageLoaded(): void {
		masonry();
	}

	function masonry() {
		new Masonry(gallery, {
			itemSelector: '.gallery-item',
			columnWidth: 0
		});
	}
</script>

<div class="gallery" id="gallery" bind:this={gallery}>
	{#each images as image}
		<a
			href={'medias/' + image.name}
			data-pswp-width={image.width}
			data-pswp-height={image.height}
			target="_blank"
			rel="noreferrer"
			class="gallery-item relative"
		>
			<div
				class="img-overlay absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed bg-black opacity-0 flex justify-center items-center"
			>
				<svg
					clip-rule="evenodd"
					fill="#fff"
					stroke-linejoin="round"
					stroke-miterlimit="2"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m11.998 5c-4.078 0-7.742 3.093-9.853 6.483-.096.159-.145.338-.145.517s.048.358.144.517c2.112 3.39 5.776 6.483 9.854 6.483 4.143 0 7.796-3.09 9.864-6.493.092-.156.138-.332.138-.507s-.046-.351-.138-.507c-2.068-3.403-5.721-6.493-9.864-6.493zm8.413 7c-1.837 2.878-4.897 5.5-8.413 5.5-3.465 0-6.532-2.632-8.404-5.5 1.871-2.868 4.939-5.5 8.404-5.5 3.518 0 6.579 2.624 8.413 5.5zm-8.411-4c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4zm0 1.5c-1.38 0-2.5 1.12-2.5 2.5s1.12 2.5 2.5 2.5 2.5-1.12 2.5-2.5-1.12-2.5-2.5-2.5z"
					/></svg
				>
			</div>
			<img
				class="gallery-img"
				src={'medias/thumbnails/' + image.name}
				alt=""
				on:load={imageLoaded}
				use:lazyLoad
			/>
		</a>
	{/each}
</div>

<style lang="scss">
	$gallery-item-margin: 1rem;
	.gallery {
		.gallery-item {
			width: calc(33% - (2 * $gallery-item-margin));
			margin: $gallery-item-margin;
			display: block;
			background-color: rgb(21, 21, 21);

			.gallery-img {
				width: 100%;
				height: auto;
				transition: 1s;
				min-height: 200px;
				opacity: 0;
			}

			.img-overlay {
				transition: 300ms ease-in-out;

				svg {
					width: 20%;
					opacity: 0;
					transform: scale(0.1);
				}

				&:hover {
					opacity: 0.6;

					svg {
						opacity: 1;
						transform: scale(1);
						transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
					}
				}
			}
		}

		.gallery-item:nth-child(3n - 1) {
			.gallery-img {
				transition-delay: 0.2s;
			}
		}

		.gallery-item:nth-child(3n) {
			.gallery-img {
				transition-delay: 0.4s;
			}
		}

		.gallery-item:first-child,
		.gallery-item:nth-child(3) {
			margin-top: 70px;
		}
	}

	@media screen and (max-width: 800px) {
		.gallery-item {
			width: calc(50% - (2 * $gallery-item-margin)) !important;
		}
	}

	@media screen and (max-width: 600px) {
		.gallery-item {
			width: 100% !important;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>
