@font-face {
	font-family: 'CormorantGaramond';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/CormorantGaramond-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'CormorantGaramond';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/CormorantGaramond-Medium.ttf') format('truetype');
}
